[submodule "src/simmonitor/simulatorapi/simapi"]
	path = src/simmonitor/simulatorapi/simapi
	url = https://github.com/spacefreak18/simapi
[submodule "src/simmonitor/ctemplate"]
	path = src/simmonitor/ctemplate
	url = https://github.com/spacefreak18/ctemplate
[submodule "src/simmonitor/slog"]
	path = src/simmonitor/slog
  url = https://github.com/kala13x/slog
[submodule "src/simmonitor/ui/lvgl"]
	path = src/simmonitor/ui/lvgl
	url = http://github.com/spacefreak18/lvgl
