
db    = ( {     user          = "evnvgxpi";
                password      = "gAMZNbyA-f0yxwGo1tuNjHNbYtu-rShV";
                server        = "drona.db.elephantsql.com";
                database      = "evnvgxpi"; } );

//db    = ( {     user          = "gilles";
//                password      = "MyRandomPasswordIsBetterThanYours";
//                server        = "zorak.brak";
//                database      = "gilles"; } );

graph = ( {     gnuplotfile   = "singleplotmultiplelapsx11.gp";
                gnuplotbin    = "/usr/bin/gnuplot"; } );
