configs = (
    {
      sim = 0;
      car = "default";

      fonts_array =
      (
          {
               name = "DejaVuSans.ttf";
               size = 128;
          },
          {
               name = "DejaVuSans.ttf";
               size = 64;
          },
      );

      styles_array =
      (
          {
               name = "NotYetImplemented";
          },
      );

      widgets_array =
      (
        {
            name = "rpms";
            type = "text";
            subtype = "rpm";
            text = "rpm";
            customfont = True;
            customstyle = False;
            fontsize = 64; // not used when custom font is true
            fontid = 2; // only valid on custom font, 1 indexed
            align = "Center";
            xpos = 0;
            ypos = -150;
            rgb = 0xffff00;
        },
        {
            name = "gear";
            type = "text";
            subtype = "gear";
            text = "gear";
            customfont = True;
            customstyle = False;
            fontsize = 128; // not used when custom font is true
            fontid = 1; // only valid on custom font, 1 indexed
            xpos = 0;
            ypos = 0;
            rgb = 0xffff00;
        },
        {
            name = "fueltext";
            type = "text";
            text = "Fuel: ";
            align = "bottomleft"
            xpos = 0;
            ypos = -80;
            rgb = 0xffff00;
        },
        {
            name = "fuelremaining";
            type = "text";
            subtype = "fuelremaining";
            text = "fuelremaining";
            align = "bottomleft"
            xpos = 140;
            ypos = -80;
            rgb = 0xffff00;
        },
        {
            name = "laptext";
            type = "text";
            text = "Lap: ";
            align = "topleft"; // center, topleft, topright, bottomleft, bottomright (others are possible but not yet implemented)
            xpos = 0;
            ypos = 0;
            rgb = 0xffff00;
        },
        {
            name = "lap";
            type = "text";
            subtype = "lap";
            align = "topleft";
            xpos = 60;
            ypos = 0;
            rgb = 0xffff00;
        },
        {
            name = "slash1";
            type = "text";
            text = " / ";
            align = "topleft";
            xpos = 80;
            ypos = 0;
            rgb = 0xffff00;
        },
        {
            name = "laps";
            type = "text";
            subtype = "laps";
            align = "topleft";
            xpos = 100;
            ypos = 0;
            rgb = 0xffff00;
        },
        {
            name = "postext";
            type = "text";
            text = "Pos: ";
            align = "topright"
            xpos = -110;
            ypos = 0;
            rgb = 0xffff00;
        },
        {
            name = "pos";
            type = "text";
            subtype = "pos";
            align = "topright"
            xpos = -80;
            ypos = 0;
            rgb = 0xffff00;
        },
        {
            name = "slash2";
            type = "text";
            text = " / ";
            align = "topright"
            xpos = -50;
            ypos = 0;
            rgb = 0xffff00;
        },
        {
            name = "cars";
            type = "text";
            subtype = "numcars";
            align = "topright"
            xpos = -20;
            ypos = 0;
            rgb = 0xffff00;
        },
        {
            name = "brakebiastext";
            type = "text";
            text = "Brake Bias: ";
            align = "bottomleft"
            xpos = 0;
            ypos = -100;
            rgb = 0xffff00;
        },
        {
            name = "brakebias";
            type = "text";
            subtype = "brakebias";
            align = "bottomleft"
            xpos = 140;
            ypos = -100;
            rgb = 0xffff00;
        },
        {
            name = "bestlap";
            type = "text";
            subtype = "bestlap";
            align = "bottomright"
            xpos = 0;
            ypos = -100;
            rgb = 0xffff00;
        },
        {
            name = "lastlap";
            type = "text";
            subtype = "lastlap";
            align = "bottomright"
            xpos = 0;
            ypos = -80;
            rgb = 0xffff00;
        },
        {
            name = "bestlaptext";
            type = "text";
            text = "BestLap: ";
            align = "bottomright"
            xpos = -100;
            ypos = -100;
            rgb = 0xffff00;
        },
        {
            name = "lastlaptext";
            type = "text";
            text = "LastLap: ";
            align = "bottomright"
            xpos = -100;
            ypos = -80;
            rgb = 0xffff00;
        },

      )
    }
);
