configs = ({
    sim = 0;
    car = "default";
    fonts_array = (
        {
             name = "DejaVuSans.ttf";
             size = 128;
        },
        {
             name = "DejaVuSans.ttf";
             size = 48;
        },
        {
             name = "DejaVuSans.ttf";
             size = 24;
        }
    );

    widgets_array = (
        {
            name = "rpms";
            type = "text";
            subtype = "rpm";
            text = "rpm";
            fontid = 1;
            xpos = 351;
            ypos = 96;
            r = 255;
            g = 255;
            b = 0;
        },
        {
            name = "gear";
            type = "text";
            subtype = "gear";
            text = "gear";
            fontid = 0;
            xpos = 380;
            ypos = 240;
            r = 255;
            g = 255;
            b = 0;
        },
        {
            name = "fueltext";
            type = "text";
            text = "Fuel: ";
            fontid = 2;
            xpos = 30;
            ypos = 210;
            r = 0;
            g = 0;
            b = 255;
        },
        {
            name = "fuelremaining";
            type = "text";
            subtype = "fuelremaining";
            text = "fuelremaining";
            fontid = 2;
            xpos = 180;
            ypos = 210;
            r = 0;
            g = 0;
            b = 255;
        },
        {
            name = "laptext";
            type = "text";
            text = "Lap: ";
            fontid = 2;
            xpos = 10;
            ypos = 25;
            r = 255;
            g = 255;
            b = 0;
        },
        {
            name = "lap";
            type = "text";
            subtype = "lap";
            fontid = 2;
            xpos = 80;
            ypos = 25;
            r = 255;
            g = 255;
            b = 0;
        },
        {
            name = "slash1";
            type = "text";
            text = " / ";
            fontid = 2;
            xpos = 136;
            ypos = 25;
            r = 255;
            g = 255;
            b = 0;
        },
        {
            name = "laps";
            type = "text";
            subtype = "laps";
            fontid = 2;
            xpos = 160;
            ypos = 25;
            r = 255;
            g = 255;
            b = 0;
        },
        {
            name = "postext";
            type = "text";
            text = "Pos: ";
            fontid = 2;
            xpos = 600;
            ypos = 25;
            r = 255;
            g = 255;
            b = 0;
        },
        {
            name = "pos";
            type = "text";
            subtype = "pos";
            fontid = 2;
            xpos = 670;
            ypos = 25;
            r = 255;
            g = 255;
            b = 0;
        },
        {
            name = "slash2";
            type = "text";
            text = " / ";
            fontid = 2;
            xpos = 726;
            ypos = 25;
            r = 255;
            g = 255;
            b = 0;
        },
        {
            name = "cars";
            type = "text";
            subtype = "numcars";
            fontid = 2;
            xpos = 750;
            ypos = 25;
            r = 255;
            g = 255;
            b = 0;
        },
        {
            name = "brakebiastext";
            type = "text";
            text = "Brake Bias: ";
            fontid = 2;
            xpos = 30;
            ypos = 240;
            r = 0;
            g = 0;
            b = 255;
        },
        {
            name = "brakebias";
            type = "text";
            subtype = "brakebias";
            fontid = 2;
            xpos = 180;
            ypos = 240;
            r = 0;
            g = 0;
            b = 255;
        },
        {
            name = "lastlaptext";
            type = "text";
            text = "Last Lap: ";
            fontid = 2;
            xpos = 30;
            ypos = 340;
            r = 0;
            g = 0;
            b = 255;
        },
        {
            name = "lastlap";
            type = "text";
            subtype = "lastlap";
            fontid = 2;
            xpos = 180;
            ypos = 340;
            r = 0;
            g = 0;
            b = 255;
        },
        {
            name = "bestlaptext";
            type = "text";
            text = "Best Lap: ";
            fontid = 2;
            xpos = 530;
            ypos = 340;
            r = 0;
            g = 0;
            b = 255;
        },
        {
            name = "bestlap";
            type = "text";
            subtype = "bestlap";
            fontid = 2;
            xpos = 670;
            ypos = 340;
            r = 0;
            g = 0;
            b = 255;
        },


    )
});
