
// postgresql community db
db    = ( {     type          = 2;  //corresponds to db type constants in hoel.h
                user          = "postgres.nayhvycuwzexpxtklbxq";
                password      = "1k3Joy6EVXxADus6";
                server        = "aws-0-us-east-1.pooler.supabase.com";
                database      = "postgres"; } );

// use this for sqlite
//db    = ( {     type          = 0; //corresponds to db type constants in hoel.h
//                database      = "~/.local/share/simmonitor/simmonitor.db"; } );


graph = ( {     gnuplotfile   = "singleplotmultiplelapsx11.gp";
                gnuplotbin    = "/usr/bin/gnuplot"; } );
