
db    = ( {     type          = 2;  //corresponds to db type constants in hoel.h
                user          = "evnvgxpi";
                password      = "gAMZNbyA-f0yxwGo1tuNjHNbYtu-rShV";
                server        = "drona.db.elephantsql.com";
                database      = "evnvgxpi"; } );

//db    = ( {     type          = 0; //corresponds to db type constants in hoel.h
//                database      = "/home/paul/git/simmonitor/build/db"; } );


graph = ( {     gnuplotfile   = "singleplotmultiplelapsx11.gp";
                gnuplotbin    = "/usr/bin/gnuplot"; } );
