configs = ({
    sim = 0;
    car = "default";
    webdeffile = "/home/paul/.local/share/simmonitor/simflags.tar"
    fonts_array = (
        {
             name = "DejaVuSans.ttf";
             size = 128;
        },
        {
             name = "DejaVuSans.ttf";
             size = 48;
        },
        {
             name = "DejaVuSans.ttf";
             size = 24;
        }
    );

    widgets_array = (
        {
            name = "flag";
            type = "text";
            subtype = "flag";
            text = "flag";
        },
    )
});
