configs = ({
    sim = 0;
    car = "default";
    webdeffile = "/home/paul/.local/share/simmonitor/simflags.tar"
    fonts_array = (
    );

    widgets_array = (
        {
            name = "flag";
            type = "text";
            subtype = "flag";
            text = "flag";
        },
    )
});
