body {
  background-image: url("https://i.ibb.co/VTVjJWG/982832-80p.png");
    background-color: #000000;
  //column-count: 3;
  //column-gap: 100px;
      margin: 10px;
  padding: 10px;
  //column-rule: 1px dotted rgb(79 185 227);

}


#grid-container {
  display: grid;
  grid-template-columns: 40% 20% 40%;
  grid-template-rows: 33% 33% 33%;
  grid-auto-flow: row;
  column-gap: 10px;
  //background-color: #2196F3;
}

.grid-item {
  //background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  //font-size: 40px;
  //font-weight: bold;
  text-align: center;
}

#velocity {
  border-top: 5px solid rgba(51, 170, 51, .8);
  border-left: 5px solid rgba(51, 170, 51, .8);
  border-right: 5px solid rgba(51, 170, 51, .8);
  border-bottom: 2px solid rgba(51, 170, 51, .8);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  grid-row: 1;
  grid-column: 2;
  color: black;
  font-weight:bold;
  font-size: 50px;
  background: rgba(51, 170, 51, .8);
}

#fuel {
  border-left: 5px solid #71ccde;
  border-right: 5px solid #71ccde;
  border-bottom: 5px solid #71ccde;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 25px;
  grid-row: 3;
  grid-column: 1;
  color: yellow;
  font-size: 40px;
  font-weight: bold;

}


#lastlap {
  border-top: 5px solid #ba549f;
  border-left: 5px solid #ba549f;
  border-right: 5px solid #ba549f;
  border-bottom: 2px solid #ba549f;
  border-top-right-radius: 100px;
  border-top-left-radius: 25px;
  grid-row: 1;
  grid-column: 3;
color: yellow;
font-size: 40px;
  font-weight: bold;

}

#currentlap {
  border-left: 5px solid #ba549f;
  border-right: 5px solid #ba549f;
  border-bottom: 5px solid #ba549f;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 25px;
  grid-row: 3;
  grid-column: 3;
color: yellow;
font-size: 40px;
  font-weight: bold;
}

#rpm {
  border-left: 5px solid #9690bf;
  border-right: 5px solid #9690bf;
  border-bottom: 5px solid #9690bf;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  grid-row: 3;
  grid-column: 2;
  color: yellow;
  font-size: 40px;
  font-weight: bold;
}

#lap {
  border-left: 5px solid #71ccde;
  border-right: 5px solid #71ccde;
  border-bottom: 2px solid #71ccde;
  grid-row: 2;
  grid-column: 1;
  color: yellow;
  font-size: 40px;
  font-weight: bold;
}

#bestlap {
  border-left: 5px solid #ba549f;
  border-right: 5px solid #ba549f;
  border-bottom: 2px solid #ba549f;
  grid-column: 3;
  grid-row: 2;
  color: yellow;
  font-size: 40px;
  font-weight: bold;
}

#gear {
  border-left: 5px solid rgba(211, 211, 211, .7);
  border-right: 5px solid rgba(211, 211, 211, .7);
  border-bottom: 2px solid rgba(211, 211, 211, .7);
  grid-row: 2;
  grid-column: 2;
  color: blue;
  font-weight:bold;
  font-size: 50px;
  background: rgba(211, 211, 211, .7);
}

#position {
  border-left: 5px solid #71ccde;
  border-right: 5px solid #71ccde;
  border-top: 5px solid #71ccde;
  border-bottom: 2px solid #71ccde;
  border-top-left-radius: 100px;
  border-top-right-radius: 25px;
  grid-column: 1;
  grid-row: 1;
  color: yellow;
  font-size: 40px;
  font-weight: bold;
}

#cars {
  border-left: 5px solid #ba549f;
  border-right: 5px solid #ba549f;
  border-bottom: 5px solid #ba549f;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 25px;
  grid-column: 3;
  grid-row: 3;
  color: yellow;
  font-size: 40px;
  font-weight: bold;
}



#rpm::before {
  content: 'RPM';
}

#velocity::before {
  content: 'Speed';
}

#gear:before {
  content: 'Gear';
}

#lastlap::before {
  content: 'Last Lap';
}

#cars:before {
    content: 'FK Tech';
}

#bestlap::before {
  content: 'Best Lap';
}

#currentlap::before {
  content: 'Current Lap';
}

#position:before {
  content: 'POS';
  float: center;
  display: block;
}

#fuel::before {
  content: 'Fuel';
}

#lap::before {
    content: 'Laps';

}
;
